.addshft {
  display: flex;
  justify-content: center;   
  align-items: center;
  min-height: 100vh;         
}
.addsfht1{
    width: 400px;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgba(0,0,0,0.1);
}