/* Wrapper */
.leave-wrapper {
  background-color: #00346B;
  padding: 20px;
  border-radius: 16px;
}

/* Title */
.leave-title {
  color: white;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}

/* Table */
.leave-table {
  background-color: #cadcfc;
  border-radius: 12px;
  overflow: hidden;
}

/* Table Head */
.leave-table th {
  background-color: #00346B;
  color: white;
}

/* Table Data */
.leave-table td {
  background-color: #cadcfc;
  vertical-align: middle;
}

/* Emergency Highlight */
.emergency-row {
  border-left: 6px solid red;
}
