/* PAGE BACKGROUND */
.loginpage {
  min-height: 100vh;
  background-color: #CADCFC;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* MAIN CARD */
.loginCard {
  background-color: #ffffff;
  width: 750px;
  height: 450px;
  display: flex;
  border-radius: 18px;
  box-shadow: 0 25px 50px rgba(0, 36, 107, 0.25);
  overflow: hidden;
}

/* LEFT IMAGE SECTION */
.loginImage {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginImage img {
  width: 80%;
}

/* RIGHT FORM SECTION */
.loginForm {
  width: 50%;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loginForm h2 {
  font-size: 30px;
  margin-bottom: 35px;
  color: #00246B;
}

/* LABELS */
.loginForm label {
  font-size: 14px;
  color: #00246B;
  margin-bottom: 6px;
}

/* INPUTS */
.loginForm input {
  border: none;
  border-bottom: 2px solid #00246B;
  padding: 10px 5px;
  margin-bottom: 25px;
  font-size: 15px;
  outline: none;
  color: #00246B;
  background-color: transparent;
}

.loginForm input::placeholder {
  color: #7A8CCB;
}

.loginForm input:focus {
  border-bottom-color: #00246B;
}

/* BUTTON */
.log2,
.loginForm button {
  margin-top: 25px;
  padding: 14px;
  background-color: #00246B;
  color: #CADCFC;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
  transition: trasform 0.15s ease;
}

.log2:active,
.loginForm button:active {
  transform: scale(0.95);
}

.loginForm button:hover {
  background-color: #001A4D;
}
