.dscontainer {
  display: flex;
}

.sidebar {
  width: 250px;
  height: 100vh;
  background: #222;
  color: #fff;
  padding: 20px;
  position: fixed;
  
}

.menu-item {
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
}

.menu-item.active {
  background: #444;
  border-radius: 6px;
}

.content {
  flex-grow: 1;
  padding: 20px;
  background: #f0f0f0;
  margin-left: 250px; /* SAME as sidebar width */
  width: calc(100% - 250px); /* prevent overflow */

}
