.hd1{
    text-align: center;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
.managerpage{
    background-color:#ba68c8;
    border-radius: 10px;
}
.mainmanager{
    background-color:#f5f5f5;
    height: 100vh;
}
.my-table{
    background-color: #e0f2f1;
}
.my-table td {
  background-color: #ffffff;
}
.btm-1{
    background-color: #ba68c8;
    justify-content: space-between;
    text-align: end;
}