.page-container {
padding: 20px;
font-family: Arial, sans-serif;
}


.title {
font-size: 26px;
margin-bottom: 10px;
font-weight: bold;
}

.add-btn {   
margin-top: 15px;
padding: 8px 16px;
background-color: #f0f0f0;
border: 1px solid #333;
cursor: pointer;
border-radius: 5px;
font-size: 14px;
}

.add-btn:hover {
background-color: #e2e2e2;
}

.department-card {
border: 1px solid black;
padding: 12px;
margin-top: 12px;
width: 260px;
border-radius: 6px;
background-color: white;
box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
}

.department-card h3 {
margin: 0 0 6px 0;
}


.department-card p {
margin: 0;
}