.hd1{
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
.mainmanager{
    background-color:#00246B;
    border-radius: 16px;
    padding: 20px;
    overflow: hidden;
}
.my-table{
    background-color: #cadcfc;
}
.my-table td {
  background-color: #cadcfc;
}